USE [master]
GO
/****** Object:  Database [BlogHealth]    Script Date: 30/11/2017 9:05:54 CH ******/
CREATE DATABASE [BlogHealth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogHealth', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BlogHealth.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BlogHealth_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BlogHealth_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogHealth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlogHealth]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 30/11/2017 9:05:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Slug] [varchar](100) NULL,
	[Color] [varchar](50) NULL,
	[ParentID] [int] NULL,
	[Level] [int] NULL,
	[Priority] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name], [Slug], [Color], [ParentID], [Level], [Priority]) VALUES (1, N'Mục cha 1', N'muc-cha-1', N'red-text', NULL, 1, 1)
INSERT [dbo].[Categories] ([ID], [Name], [Slug], [Color], [ParentID], [Level], [Priority]) VALUES (2, N'Mục cha 2', N'muc-cha-2', N'red-text', NULL, 1, 2)
INSERT [dbo].[Categories] ([ID], [Name], [Slug], [Color], [ParentID], [Level], [Priority]) VALUES (3, N'Mục con 1', N'muc-con-1', N'red-text', 1, 2, 3)
SET IDENTITY_INSERT [dbo].[Categories] OFF
USE [master]
GO
