
@{
    ViewBag.Title = "Bài viết";
}


<div class="col-xl-9  pl-lg-4 pl-xl-4 pr-lg-2 pr-xl-2" id="left" >
    <div class="card mb-2" id="sidebar">
        <div class="card-body">
            <div class="card-title text-danger text-center">
                <h2> Cựu sáng lập Thế Giới Di Động mơ có 1.000 shop giày, bán hàng như Zara</h2>

            </div>
            <div class="mb-2">
                @*<a type="button" class="btn-floating my-1 btn-fb waves-effect waves-light">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <span class="counter">22</span>
                    <button type="button" class="btn btn-fb waves-effect waves-light">
                        <i class="fa fa-facebook"> </i>
                    </button>*@
                <div class=" text-center">
                    <span class="indigo-text"><strong>Sống khỏe </strong></span>
                </div>
                <div class=" text-center">
                    <span class="text-muted ml-2"><i class="fa fa-clock-o"></i>12:12 PM 10/10/2012,</span>
                    <span class="text-muted ml-3"><i class="fa fa-comment-o"></i>100</span>
                    <span class="text-muted ml-2"><i class="fa fa-eye" aria-hidden="true"></i>100</span>
                    <span class="text-muted ml-2"><i class="fa fa-star" aria-hidden="true"></i>4</span>
                </div>
                <div class=" text-center mb-2">
                    <a class=" align-content-end btn-floating  btn-sm  btn-fb waves-effect waves-light m-0 p-0">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="align-content-end btn-floating btn-sm btn-gplus waves-effect waves-light m-0 p-0">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="align-content-end btn-floating btn-sm btn-tw waves-effect waves-light m-0 p-0">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>


            </div>
            <p class="px-lg-5 mb-2" style=" text-align: justify;text-justify: inter-word;">

                Chia sẻ về cái duyên với thị trường giày, ông Đinh Anh Huân, người sáng lập Công ty cổ phần Seedcom, đơn vị đang đầu tư phát triển thương hiệu giày Juno, cho rằng đây là thị trường nhiều cơ hội đầu tư, “thấy không ai làm thì mình làm thôi”. Tham vọng của Juno là mở đến 1.000 cửa hàng để bán giày Việt cho phụ nữ Việt.

                - Là người ngoại đạo với lĩnh vực này, ông đã quyết định đầu tư ra sao?

                - Tôi thấy cơ hội thị trường lớn mà hầu như chưa có ai làm bài bản nên nghĩ là phải làm thôi. Tôi tin thị trường tiềm năng này, dù khởi động ra sao lúc đó tôi cũng chưa biết (cười).

                Tôi bắt đầu đi tìm hiểu, vào các xưởng giày xem cách sản xuất, ra chợ xem người ta bán hàng, nghiên cứu hành vi mua hàng online của khách, sau đó mới quyết đầu tư.

                Lúc đầu ra thị trường, sản phẩm của chúng tôi cũng bị khách hàng phản hồi nhiều lắm, nào là da quá cứng, mẫu mã chưa đẹp, chưa đa dạng. Dần dần mọi tồn tại được khắc phục. Nhờ vào góp ý của khách và chúng tôi liên tục cải tiến, phản hồi bây giờ đã ngược lại.

                Cuu sang lap The Gioi Di Dong mo co 1.000 shop giay, ban hang nhu Zara hinh anh 1
                "Tôi đi bán giày thời trang nữ chỉ đơn giản vì thấy thị trường này lớn mà chưa ai làm". Ảnh: H. An
                Chúng tôi đã mở được khoảng 60 cửa hàng tại TP.HCM, Hà Nội và một số tỉnh thành lớn. Cuối năm nay số cửa hàng sẽ nâng lên khoảng 90. Chúng tôi chú trọng vào giày thời trang nữ ở phân khúc bình dân, trên dưới 400.000 đồng/đôi.

                - Vai trò của Seedcom ở đây có đơn thuần là nhà đầu tư tài chính như với những startup ông vẫn đầu tư?

                - Ở Juno chúng tôi không phải là quỹ đầu tư mà trực tiếp tham gia điều hành, sản xuất, bán hàng. Chúng tôi mới đầu tư từ 2015 thôi, khi nhận thấy tiềm năng thị trường giày thời trang nữ Việt Nam rất lớn.

                "Doanh thu không nên coi là điều quan trọng nhất mà lớn nhất là giá trị mang lại. Mình sẽ làm được những gì mình thích, mình muốn. Cuối ngày, sau khi đã làm hết sức thì chúng ta sẽ thấy thỏa mãn".

                Chúng ta có tới 20 triệu phụ nữ nhưng dường như chưa có một thương hiệu giày nào đủ lớn cung cấp cho thị trường này. Phân khúc giá trung bình, phù hợp với thu nhập và nhu cầu mua sắm của đa số phụ nữ hầu hết là giày Trung Quốc, một số là giày Việt Nam xuất khẩu.

                Trên thị trường cũng có khá nhiều thương hiệu, nhưng đa phần giày thể thao, giày thời trang nữ số lượng không đáng kể.

                Ở thời điểm đó, Juno mỗi tháng bán khoảng 3.000 đôi giày, tức một năm khoảng 36.000 đôi. Sau 2 năm đầu tư, dự kiến con số bán ra năm 2017 của chúng tôi sẽ là 1 triệu đôi.

                - Tại sao ít tìm thấy hàng "xịn" trên kệ giày của Juno?

                - Tìm hiểu tâm lý khách hàng, tôi nhận ra rằng phụ nữ Việt vẫn giữ thói quen mua 3-4 đôi giày giá rẻ hơn là mua một đôi đắt tiền.

                Riêng phân khúc tầm giá 300.000-400.000 đồng/đôi, trên thị trường chỉ có vài thương hiệu trong nước tham gia với thị phần rất nhỏ, hầu hết là hàng Trung Quốc không có thương hiệu.

                Tính toán của chúng tôi, nếu trung bình một phụ nữ mua 3-4 đôi giày thì riêng phân khúc này, mỗi năm thị trường cần khoảng 30-40 triệu đôi. Nhu cầu là rất lớn so với khả năng đáp ứng hiện nay.

                Cuu sang lap The Gioi Di Dong mo co 1.000 shop giay, ban hang nhu Zara hinh anh 2
                Cựu sáng lập viên Thế Giới Di Động tự tin khẳng định sẽ đánh bật hàng Trung Quốc ở phân khúc giày thời trang nữ. Ảnh: H. An.
                Tôi cũng có kinh nghiệm bán lẻ, và thấy rằng chuỗi cung ứng Việt Nam có cơ hội cạnh tranh tốt phân khúc này nên tập trung phát triển. Mục tiêu của tôi trước mắt là phải có 300-400 cửa hàng, để chị em ở đâu cũng có thể mua được giày Made in Vietnam giá vừa phải.

                Năm sau chúng tôi sẽ đầu tư thêm nhà máy công suất lớn hơn, để đảm bảo sản lượng 150.000-200.000 đôi giày mỗi tháng. Khi chuỗi cung ứng hoàn thiện hơn, tốc độ ra mẫu mới sẽ nhanh hơn.

                -Thực tế ở phân khúc tầm trung, thị trường giày dép Việt đã có một số thương hiệu có tiếng, dù không phát triển ồ ạt như Juno?

                - Việt Nam có gần 100 triệu dân. Khách hàng chúng tôi nhắm tới là phụ nữ 18-40, họ chiếm khoảng 25% dân số nữ, ước khoảng hơn 10 triệu thôi thì con số này có lớn không?

                Phụ nữ mỗi năm lại mua ít nhất vài đôi giày, nếu nhân lên thì thị trường cần 40-50 triệu đôi mỗi năm, các thương hiệu khác hiện cũng chỉ đáp ứng 1-2% thôi.

                Mà có các thương hiệu khác cũng là điều chúng tôi rất cần. Có Vascara, Bitit's sẽ tốt cho Juno chứ. Chúng tôi buôn có bạn, bán có phường, cùng hỗ trợ nhau tạo uy tín cho giày Việt.

                Ở phân khúc giày thời trang nữ bình dân, tôi tự tin sẽ đánh bật hàng Trung Quốc.

                Riêng tại Hà Nội, nơi người tiêu dùng luôn tìm kiếm hàng trong nước chất lượng thì lại tràn ngập giày dép Trung Quốc. Tôi khát khao mang sản phẩm thuần Việt chất lượng tốt đến phục vụ người dùng. Ở phân khúc giày thời trang nữ bình dân, tôi tự tin sẽ đánh bật hàng Trung Quốc.

                - Ông nhìn thấy thị trường Hà Nội tiềm năng, như vậy chiến lược của Juno có phải là đẩy mạnh hơn nữa tại khu vực này?

                - Chúng tôi tập trung phát triển mạnh tại Hà Nội, TP.HCM và mở rộng cả nước. Nhưng thực tế hiện nay vẫn ưu tiên thị trường phía Nam, vì gần nhà máy, vận chuyện dễ hơn. TP.HCM gọi đúng nghĩa là thị trường bao la, phải mở vài trăm cửa hàng mới đủ đáp ứng.

                Cuu sang lap The Gioi Di Dong mo co 1.000 shop giay, ban hang nhu Zara hinh anh 3
                Ông Đinh Anh Huân và các cộng sự, những người điều hành các dự án khởi nghiệp dưới sự đầu tư của Seedcom. Ảnh: DNSG.
                Với Hà Nội, 9 cửa hàng đã có gần như phủ hết từ trung tâm thành phố đến Hà Đông rồi. Các tuyến đường chính ở Hà Nội đều có cửa hàng. Sắp tới chúng tôi mở thêm 1-2 cửa hàng nữa thì gần như mọi người đi đâu cũng thấy cửa hàng của chúng tôi.

                Phương châm của chúng tôi là khách hàng ở đâu chúng tôi ở đó. Khách thích mua online, chúng tôi bán online, khách muốn tới cửa hàng tôi có sản phẩm ở cửa hàng. Còn họ thích gọi điện thoại đặt hàng tôi sẽ bán qua điện thoại.

                - Nếu như vậy phải huy động lực lượng nhân viên hùng hậu?

                - Bán lẻ hiện đại không ai dùng sức người để chuyển tải tất cả các vấn đề mà phải ứng dựng công nghệ mới hiệu quả. Và công nghệ là lợi thế của chúng tôi.

                Chúng tôi đầu tư rất nhiều vào công nghệ từ thiết kế, sản xuất đến bán hàng. Công nghệ giúp chúng tôi có hệ thống dữ liệu tốt, giúp phân phối hàng từ kho trung tâm đến các cửa hàng, tồn kho, đáp ứng nhu cầu khách ra sao... Để tối ưu lợi nhuận tốt nhất mà sản phẩm đến tay khách hàng giá hợp lý nhất thì chỉ có công nghệ.

                Ngay khi gia nhập thị trường, chúng tôi cũng xác định thế mạnh của mình là online và tập trung phát triển, cũng là cách hợp lý để ứng dụng công nghệ. Đây là kênh giúp chúng tôi tiếp cận khách hàng nhanh, hiệu quả nhất. Bởi dù tốc độ mở cửa hàng nhanh, nhưng mình không thể một sớm một chiều phủ được 63 tỉnh thành.

                Cũng có nhiều người cho rằng, mô hình của chúng tôi không phải bán lẻ, mà là công ty công nghệ.

                Bán lẻ hiện đại không ai dùng sức người để tối ưu lợi nhuận tốt nhất mà phải có công nghệ.

                Tôi muốn chia sẻ thực, góc nhìn của Juno là làm sao học được cách mà Zara đã và đang làm. Thương hiệu thời trang này nổi tiếng thế giới không phải về mẫu mã hay giá cả, mà nổi tiếng về sự phát triển sản phẩm, vận hành hệ thống, phát triển công nghệ bán hàng, trải nghiệm sản phẩm của khách hàng...

                - Vậy ông có dự định đưa Juno ra nước ngoài như Zara đang làm không?

                - Tại sao không? Việt Nam có lợi thế cạnh tranh rất nhiều trong sản xuất giày dép. Chúng ta cũng đã có kinh nghiệm gia công giày cho rất nhiều hãng lớn trên thế giới. Thống kê hiện 40% giày Nike sản xuất tại Việt Nam, Adidas cũng vậy. Chúng ta có nhân công, có đội ngũ thiết kế giỏi, tại sao không làm được.

                Có mơ ước và dám làm thì sẽ làm được thôi. Mục tiêu của Juno trong năm nay là bán 1 triệu đôi giày, năm sau sẽ là 2 triệu đôi và tiếp tục nhân lên. Chúng tôi cũng đầu tư nhà máy đủ lớn để đáp ứng sản phẩm cho cửa hàng.

                Hệ thống nhà máy này cũng sẽ sản xuất, cung ứng sản phẩm cho các chuỗi cửa hàng ở nước ngoài sau này, đồng thời cũng sẽ tham gia gia công sản phẩm cho các doanh nghiệp nước ngoài khác.

                - Nhiều thương hiệu giày đình đám một thời cũng hụt hơi, rất ít thương hiệu giữ được sức sống lâu bền. Ông có lo lắng điều này?

                - Thị trường đang rất rộng thì không có lý do gì chúng tôi lo lắng. Tuy nhiên, không phải thị trường lớn thì ai muốn nhảy vào làm cũng thuận lợi.

                Giữa cạnh tranh, những doanh nghiệp nào phù hợp, có chiến lược phát triển riêng và biết nắm bắt cơ hội sẽ thắng thôi. Giống như điện máy, những năm gần đây liên tục nhiều đơn vị đóng cửa, nhưng cửa hàng mới cũng liên tục ra đời. Cơ hội thị trường sẽ dành cho ai biết làm và làm đúng thời điểm.

                Chúng tôi khẳng định mình là doanh nghiệp duy nhất hiện nay biết làm ra sản phẩm và bán sản phẩm, mang sản phẩm của mình bán được từ cửa hàng trực tiếp đến online.

                Trong 5 năm tới, chúng tôi vẫn tập trung đầu tư vào giày thời trang nữ ở phân khúc bình dân. Số lượng cửa hàng tôi dự kiến mở phải ở mức 1.000 mới đáp ứng nhu cầu thị trường.
            </p>
            <div class="">
                <i class="fa fa-tags fa-2x red-text"></i>
                <div class="chip mb-0 mr-1">
                    <a>Tag1</a>
                </div>
                <div class="chip mb-0 mr-1">
                    <a>Tag1</a>
                </div>
                <div class="chip mb-0 mr-1">
                    <a>Tag1</a>
                </div>
            </div>





            <div class="col-md-12">
                <!--Modal: Register Form-->
                <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog cascading-modal" role="document">
                        <!--Content-->
                        <div class="modal-content">

                            <!--Header-->
                            <div class="modal-header light-blue darken-3 white-text">
                                <h4 class="title"><i class="fa fa-comment-o"></i> Thông tin người bình luận</h4>
                                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!--Body-->
                            <div class="modal-body">
                                <div class="md-form form-sm">
                                    <i class="fa fa-user prefix"></i>
                                    <input type="text" id="form33" class="form-control">
                                    <label for="form33">Họ tên <small class="text-danger "> &nbsp;(bắt buộc)</small></label>
                                </div>
                                <div class="md-form form-sm">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input type="text" id="form32" class="form-control">
                                    <label for="form32">Email<small class="text-danger ">&nbsp;(bắt buộc)</small></label>
                                </div>
                                <div class="md-form form-sm">
                                    <i class="fa fa-edge prefix"></i>
                                    <input type="text" id="form34" class="form-control">
                                    <label for="form34">Website</label>
                                </div>

                                <div class="text-center mt-2">
                                    <button class="btn btn-primary">Gửi bình luận<i class="fa fa-sign-in ml-1"></i></button>
                                </div>

                            </div>
                            <!--Footer-->
                            @*<div class="modal-footer">
                                    <div class="options text-center text-md-right mt-1">
                                        <p>Already have an account? <a href="#">Log In</a></p>
                                    </div>
                                    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
                                </div>*@
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!--Modal: Register Form-->
                <section class="section text-center">



                    <!--Leave a reply form-->
                    <div class="reply-form mb-0">
                        <div class="divider-new  px-5 m-0">
                            <h2 class="h5-responsive"><strong>ĐỂ LẠI BÌNH LUẬN</strong></h2>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div class="px-2 py-0"> Đánh giá:</div>
                            <div class="px-2 py-0">
                                <i class="fa fa-star-o reviewRate " id="star1" data-pos="1" data-toggle="tooltip" data-placement="bottom" title="Dở tệ"></i>
                                <i class="fa fa-star-o reviewRate " id="star2" data-pos="2" data-toggle="tooltip" data-placement="bottom" title="Tạm được"></i>
                                <i class="fa fa-star-o reviewRate " id="star3" data-pos="3" data-toggle="tooltip" data-placement="bottom" title="Hay"></i>
                                <i class="fa fa-star-o reviewRate " id="star4" data-pos="4" data-toggle="tooltip" data-placement="bottom" title="Rất hay"></i>
                                <i class="fa fa-star-o reviewRate " id="star5" data-pos="5" data-toggle="tooltip" data-placement="bottom" title="Xuất sắc"></i>
                            </div>
                            @*<div class="px-2 py-0">
                                    <i class="fa " id="iconRate"></i> <strong><span class="" id="titleRate"></span></strong>
                                </div>*@

                        </div>



                        <h4 class="mb-0">

                            <span>
                                <!--Facebook-->
                                <button type="button" class="btn btn-fb waves-effect waves-light btn-md">
                                    <i class="fa fa-facebook left"></i> Chia sẻ Facebook
                                </button>
                                <!--Twitter-->
                                <button type="button" class="btn btn-tw waves-effect waves-light btn-md">
                                    <i class="fa fa-twitter left"></i> Chia sẻ Twitter
                                </button>
                                <!--Google +-->
                                <button type="button" class="btn btn-gplus waves-effect waves-light btn-md">
                                    <i class="fa fa-google-plus left"></i>Chia sẻ Google+
                                </button>
                            </span>
                            <br>

                        </h4>

                        <div class="row px-5 mb-0">

                            <div class="col-xl-12">
                                <div class="md-form mb-0">
                                    <i class="fa fa-pencil prefix blue-text"></i>
                                    <textarea type="text" id="replyForm-mess" class="md-textarea" placeholder="Bạn nghĩ gì về bài viết..."></textarea>
                                    @*<label for="replyForm-mess" class="">Bạn nghĩ gì về bài viết...</label>*@
                                    <button class="btn btn-primary waves-effect waves-light btn-md" data-toggle="modal" data-target="#modalRegister">Bình luận</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--/.Leave a reply form-->

                </section>
            </div>

        </div>
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class=" px-5 m-0">
                    <h2 class="h5-responsive"><strong><i class="fa fa-comments"></i>&nbsp; DANH SÁCH BÌNH LUẬN</strong></h2>
                    
                </div>

                <!--Newsfeed-->
                <div class="mdb-feed">
                    <!--First news-->
                    <div class="news">

                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">John Doe</a><div class="date"><i class="fa fa-clock-o"></i> 10:10AM 12/12/2017</div>
                            </div>
                            <div class="added-text" style="max-width:unset!important">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.
                            </div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like blue-text"><span>Trả lời</span></a>
                                <a class="like blue-text ml-2"><i class="fa fa-thumbs-o-up pr-0"></i>9&nbsp;<span>Thích</span></a>
                            </div>
                        </div>

                        <!--Label-->

                    </div>
                    <!--First news-->
                    <!--Second news-->
                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Anna Smith</a> added<a> 2 new illustrations</a><div class="date">4 hours ago</div>
                            </div>
                            <!--Added images-->
                            <div class="added-images">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" class="z-depth-1">
                            </div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>18 likes</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Second news-->
                    <!--Third news-->
                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Danny Moore</a> added you as a friend<div class="date">7 hours ago</div>
                            </div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>11 likes</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Third news-->
                    <!--Fourth news-->
                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Lili Rose</a> posted on his page<div class="date">2 days ago</div>
                            </div>
                            <!--Added text-->
                            <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>7 likes</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Fourth news-->
                    <!--Fifth news-->
                    <div class="news">
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
                        <!--Excert-->
                        <div class="excerpt">
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Kate Harrison</a> added<a> 2 new photos</a> of you<div class="date">3 days ago</div>
                            </div>
                            <!--Added images-->
                            <div class="added-images">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg" class="z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(26).jpg" class="z-depth-1">
                            </div>
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>53 likes</span></a>
                            </div>
                        </div>
                    </div>
                    <!--Fifth news-->
                </div>
                <!--Newsfeed-->
            </div>
            <div class="col-lg-12">
                <section class="section magazine-section">
                    <div class="divider-new px-5 mx-0 my-2">
                        <h2 class="h5-responsive"><strong> <i class="fa fa-random"></i>&nbsp; CÓ THỂ BẠN QUAN TÂM</strong></h2>
                    </div>
                    <!--Grid row-->
                    <div class="row text-left">

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12">
                            <!--Featured news-->
                            <div class="single-news ">

                                <!--Image-->
                                <div class="view overlay hm-white-slight z-depth-1-half mb-2">
                                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(118).jpg" class="img-fluid" alt="Wider sample post image">
                                    <a>
                                        <div class="mask"></div>
                                    </a>
                                </div>

                                <!--Excerpt-->
                                <div class="news-data mb-5">
                                    <a href="" class="deep-orange-text"><h6><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                    <p><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                </div>

                                <h3 class="m-0"><a><strong>This is title of the news.This is title of the news.This is title of the news.</strong></a></h3>

                                <p align="justify">
                                    Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>

                            </div>
                            <!--/Featured news-->

                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-6 col-md-12">

                            <!--Small news-->
                            <div class="single-news mb-2">

                                <div class="row">
                                    <div class="col-md-3 px-0">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(50).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!--Excerpt-->
                                    <div class="col-md-9 ">
                                        <div class="news-data m-0 ">
                                            <a href="" class="deep-orange-text"><h6 class="m-0 "><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                            <p class="m-0 "><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                        </div>
                                        <a class="mb-0" style="float:left">
                                            Duis aute irure dolor in reprehenderit in voluptate.Duis aute irure dolor in reprehenderit in voluptate.
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--/Small news-->
                            <!--Small news-->
                            <div class="single-news mb-2">

                                <div class="row">
                                    <div class="col-md-3  px-0">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <div class="news-data m-0 ">
                                            <a href="" class="deep-orange-text"><h6 class="m-0 "><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                            <p class="m-0 "><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                        </div>
                                        <a class="" style="float:left">
                                            Duis aute irure dolor in reprehenderit in voluptate.Duis aute irure dolor in reprehenderit in voluptate.
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--/Small news-->
                            <!--Small news-->
                            <div class="single-news mb-2">

                                <div class="row">
                                    <div class="col-md-3  px-0">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <div class="news-data m-0 ">
                                            <a href="" class="deep-orange-text"><h6 class="m-0 "><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                            <p class="m-0 "><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                        </div>
                                        <a class="" style="float:left">
                                            Duis aute irure dolor in reprehenderit in voluptate.Duis aute irure dolor in reprehenderit in voluptate.
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--/Small news-->
                            <!--Small news-->
                            <div class="single-news mb-2">

                                <div class="row">
                                    <div class="col-md-3  px-0">

                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(26).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>

                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <div class="news-data m-0 ">
                                            <a href="" class="deep-orange-text"><h6 class="m-0 "><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                                            <p class="m-0 "><strong><i class="fa fa-calendar"></i> 27/02/2016</strong></p>
                                        </div>
                                        <a class="" style="float:left">
                                            Duis aute irure dolor in reprehenderit in voluptate.Duis aute irure dolor in reprehenderit in voluptate.
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!--/Small news-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
            </div>
        </div>


    </div>

</div>

