
@{
    ViewBag.Title = "Viết bài";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section css{

}
@section js{

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckfinder/ckfinder.js"></script>
    <script>

        $(document).ready(function () {
            var editor = CKEDITOR.replace('Content');
            CKFinder.setupCKEditor(editor, '/ckfinder/');
            function bodauTiengViet(str) {
                str = str.toLowerCase();
                str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, 'a');
                str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, 'e');
                str = str.replace(/ì|í|ị|ỉ|ĩ/g, 'i');
                str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, 'o');
                str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, 'u');
                str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, 'y');
                str = str.replace(/đ/g, 'd');
                str = str.replace(/\W+/g, ' ');
                str = str.replace(/\s/g, '-');
                return str;
            }
            $('#frmAddPost input[name="IDCategory"]').kendoDropDownList({
                dataTextField: "Name",
                dataValueField: "ID",
                autoClose: false,
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/Admin/GetCategories?kind=3"
                    }
                },
                optionLabel: "Chọn danh mục",
            });
            $('#frmAddPost input[name="Title"]').bind('keyup change keydown ',function () {
                $('#frmAddPost input[name="Slug"]').val(bodauTiengViet($(this).val()));
            });
            //$('#frmAddPost input[name="Title"]').change(function () {
            //    $('#frmAddPost input[name="Slug"]').val(bodauTiengViet($(this).val()));
            //});
            //$("#frmAddPost input[name='files']").kendoUpload({
            //    async: {
            //        saveUrl: "save",
            //        removeUrl: "remove",
            //        autoUpload: true
            //    }
            //});
        });

    </script>
}
<!--Card-->
<div class="card">

    <h3 class="card-header blue-text py-1 border-primary">Đăng bài</h3>
    <!--Card content-->
    <div class="card-body text-left px-3">
        
        <div class="row">
            <div class="col"></div>
            @if (ViewBag.Error != null)
            {
                <div class="col">
                    <div class="card-body bg-danger white-text text-center rounded p-1">
                        <h6>@ViewBag.Error</h6>
                    </div>
                </div>
            }
           
            @if (ViewBag.Success != null)
            {
                <div class="col">
                    <div class="card-body bg-success white-text text-center rounded p-1">
                        <h6>@ViewBag.Success</h6>
                    </div>
                </div>
            }
           @if (ViewBag.Status != null&& ViewBag.Status=="Success")
            {
            <div class="col">
                <div class="card-body bg-success white-text text-center rounded p-1">
                    <h6>@ViewBag.Status</h6>
                </div>
            </div>
           }
            <div class="col"></div>
        </div>
        
        <!--Accordion wrapper-->
        <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card" id="Step1">

                <!-- Card header -->
                <div class="card-header grey lighten-3" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h5 class="mb-0"><i class="fa fa-info-circle"></i>
                            Thông tin bài viết <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <form id="frmAddPost" method="post" action="@Url.Action("AddPost","Admin")" enctype="multipart/form-data">
                            <div class="row justify-content-md-center">
                                <div class="col-lg-10 ">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <i class="fa fa-bookmark-o prefix glyphicon glyphicon-upload"></i>
                                                <input type="text" name="Title" class="form-control input-char-counter" placeholder="Tiêu đề (tối đa 300 ký tự)" length="300">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <i class="fa fa-link prefix"></i>
                                                <input type="text" name="Slug" class="form-control" placeholder="Slug" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <div class="md-form">
                                                    <i class="fa fa-bookmark-o prefix"></i>
                                                    <input type="text" name="Tag" class="form-control" placeholder="Tags (Mỗi tag cách nhau bằng dấu , )">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-8 pl-5">
                                            
                                            <div class="md-form">
                                                
                                               <input type="text" name="IDCategory" class="form-control" placeholder="Danh mục">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <textarea type="text" id="Content" name="Content" class="md-textarea"></textarea>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" type="submit">Đăng bài</button>
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                        </form>
                    </div>
                </div>
            </div>
            <!-- Accordion card -->
            
        </div>
        <!--/.Accordion wrapper-->




    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->
