
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section css{
<style>
    .k-window-titlebar{
        padding:0!important;
    }
    .k-widget .k-window{
        width:800px!important;
    }
    </style>    
}
@section js{
    <script id="popup-editor" type="text/x-kendo-template">
        <div class="row">
         
            <div class="col-md-6">
                <div class="md-form">
                  
                    <input type="email" id="form81" class="form-control " name="Name">
       
                </div>
            </div>

            <!--Second column-->
            <div class="col-md-6">
                <div class="md-form">
                   
                    <input type="password" id="form82" class="form-control " name="Color">
                 
                </div>
            </div>
        </div>
    
</script>
    <script>
        $('#gridCategories').kendoTreeList({
            dataSource: {
                type: "json",
                transport: {
                    read: "/Admin/GetCategories",
                    update: function (e) { },
                    destroy: function (e) { },
                    //parameterMap: function (options, operation) {
                    //    if (operation !== "read" && options.models) {
                    //        return { models: kendo.stringify(options.models) };
                    //    }
                    //}
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                schema: {
                    model: {
                        id: "ID",
                        parentId: "ParentID",
                        fields: {
                            ParentID: { field: "ParentID", nullable: true, type: "number" },
                            ID: { field: "ID", type: "number" },
                            Name: { field: "Name", type: "string", nullable: false },
                        },

                        expanded: true,
                    }
                },
                pageSize: 20,
            },
            height: 400,
            editable: {
                mode: "inline",
                //template: kendo.template($("#popup-editor").html())
            },
            groupable: false,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5,
            },
            autoBind: true,
            columns: [
               
                { field: "Name", title: "Tiêu đề", width: 40, headerAttributes: { "class": "white-text primary-color-dark" }, },
                { field: "Slug", title: "Slug", width: 40, headerAttributes: { "class": "white-text primary-color-dark" } },
                { field: "Priority", title: "Thứ tự", width: 20, headerAttributes: { "class": "white-text primary-color-dark" } },
                { field: "Color", title: "Màu", width: 40, editor: ColorDropdownList, headerAttributes: { "class": "white-text primary-color-dark" } },
                {
                    title: "Thao tác", command: [{ name: "edit", text: "Chỉnh sửa", className: "btn-outline-blue", },
                    { name: "destroy", text: "Xóa", className: "btn-outline-danger", }], width: 60, headerAttributes: { "class": "white-text primary-color-dark" }
                },
            ],
            save: function (e) {
                console.log("save");
                console.log(e);
                var slug = bodauTiengViet(e.model.Name);
                $.ajax({
                    url: '/Admin/UpdateCategories',
                    data: { ID: e.model.ID, Name: e.model.Name, Slug: slug ,Color:e.model.Color,Priority:e.model.Priority,},
                    type: 'post',
                    success: function (data) {
                        if (data == 1) {
                            alert('Cập nhật thành công!');
                            $('#gridCategories').data('kendoTreeList').dataSource.read();
                            $('#gridCategories').data('kendoTreeList').refresh();
                        } else {
                            alert('Cập nhật thất bại!');
                        }
                    },
                    error: function () {
                        alert("Error Update Categories!");
                    }
                });
            },
            remove: function (e) {
                console.log("remove");
                console.log(e);
                $.ajax({
                    url: '/Admin/DeleteCategories?ID=' + e.model.ID,
                    type: 'post',
                    success: function (data) {
                        if (data.result == 1 && data.error=="") {
                            alert('Xóa thành công!');
                        } else {
                            alert('Xóa thất bại!');
                        }
                    },
                    error: function () {
                        alert("Error Delete Categories!");
                    }
                });
            }
        });
        function ColorDropdownList(container, options) {
            $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: true,
                    dataTextField: "Text",
                    dataValueField: "Color",
                    dataSource: [
                        { Text: "Đỏ", Color: "red-text" },
                        { Text: "Xanh lá cây", Color: "green-text" },
                        { Text: "Xanh da trời", Color: "blue-text" },
                        { Text: "Vàng", Color: "yellow-text" },
                    ]
                    //    {
                    //    type: "json",
                    //    transport: {
                    //        read: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Categories"
                    //    }
                    //}
                });
        }
        function bodauTiengViet(str) {
            str = str.toLowerCase();
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, 'a');
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, 'e');
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, 'i');
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, 'o');
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, 'u');
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, 'y');
            str = str.replace(/đ/g, 'd');
            str = str.replace(/\W+/g, ' ');
            str = str.replace(/\s/g, '-');
            return str;
        }
       
    </script>
}
<div class="card card-cascade ">

    <!--Card image-->
    <div class="view gradient-card-header blue-gradient p-1">
        <h2 class="h2-responsive">Danh mục</h2>
    </div>
    <!--/Card image-->
    <!--Card content-->
    <div class="card-body text-left">
        <button class="btn btn-indigo btn-sm btn-rounded waves-effect waves-light"  data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>&nbsp;Thêm mới</button>
    

            @*<div class="text-center">
                <a href="" class="btn btn-default ">Launch Modal Success <i class="fa fa-eye ml-1"></i></a>
            </div>*@
        <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-notify modal-info " role="document" >
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header py-1">
                        <h6 class="heading lead">Thêm danh mục</h6>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">×</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-left">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">

                                        <input type="text" name="Parent" placeholder="Danh mục cha" class="form-control">

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form">
                                       
                                        <input type="text" name="Name" placeholder="Tiêu đề" class="form-control">
                                      
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="md-form">
                                        @*<i class="fa fa-lock prefix"></i>*@
                                        <input type="text" name="Color" placeholder="Thứ tự" class="form-control">

                                    </div>
                                </div>
                               
                                <div class="col-md-12">
                                    <div class="md-form">
                                        @*<i class="fa fa-lock prefix"></i>*@
                                        <input type="text" name="Color" placeholder="Màu sắc" class="form-control">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light"><i class="fa fa-check"></i>&nbsp; Hoàn tất</button>
                        <button type="button" class="btn btn-outline-primary btn-rounded btn-sm  waves-effect " data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
            <!--Modal: mdb-abandonedCart-hard-->
            

            <div id="gridCategories">

            </div>
            @*<form>
                <!--First row-->
                <div class="row">
                    <!--First column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="email" id="form81" class="form-control validate">
                            <label for="form81" data-error="wrong" data-success="right">Type your email</label>
                        </div>
                    </div>

                    <!--Second column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="form82" class="form-control validate">
                            <label for="form82" data-error="wrong" data-success="right">Type your password</label>
                        </div>
                    </div>
                </div>
                <!--/.First row-->
                <!--Second row-->
                <div class="row">
                    <!--First column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="contentPost" class="md-textarea"></textarea>

                        </div>

                    </div>
                </div>
                <!--/.Second row-->
                <!--Third row-->
                <div class="row">

                    <!--First column-->
                    <div class="col-md-4">
                        <div class="md-form">
                            <input type="text" id="form41" class="form-control">
                            <label for="form41" class="">Example label</label>
                        </div>
                    </div>

                    <!--Second column-->
                    <div class="col-md-4">
                        <div class="md-form">
                            <input type="text" id="form51" class="form-control">
                            <label for="form51" class="">Example label</label>
                        </div>
                    </div>

                    <!--Third column-->
                    <div class="col-md-4">
                        <div class="md-form">
                            <input type="text" id="form61" class="form-control">
                            <label for="form61" class="">Example label</label>
                        </div>
                    </div>

                </div>
                <!--/.Third row-->
            </form>*@

        </div>
    <!--/.Card content-->

</div>
