
@{
    ViewBag.Title = "Danh sách bài Viết";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section css{
<style>
    .k-grid td {
        border-width: 0 0px 2px 1px;
    }

    </style>    
}
@section js{
    <script>
        $('#gridPosts').kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "/Admin/GetPosts",
                    
                },
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            Title: { editable: false }, Slug: { editable: false }, CateName: { editable: false },
                            Likes: { editable: false }, Views: { editable: false }, Shares: { editable: false },
                            Comment: { editable: false }, Rates: { editable: false }, Tag: { editable: false },
                            
                            CreateDate: { editable: false, type: "date", },
                            //Update: { editable: false, type: "date", },
                        }
                    }
                },
                pageSize: 100,
            },
            height: 1000,
            scrollable: true,
            groupable: true,
            sortable: true,
            selectable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: [50,100,200],
                buttonCount: 5,
            },
            editable: {
                mode: "inline",
                confirmation: true,
            },
            //autoBind: true,
            dataBound: function (e) {
                console.log("dataBound");
                $(".btn").removeClass('k-button');
            },
            columns: [
                {
                    title: "Thao tác",
                    command: [
                        //{ name: "edit", text: " ", className: "btn-outline-blue btn-rounded m-2", },
                        //{ name: "destroy", text: " ", className: "btn-outline-danger btn-rounded m-2", },
                        {
                            name: "destroy",
                            text: "Xóa",
                            iconClass: "fa fa-trash mr-1",
                            className: "btn btn-danger btn-rounded btn-md p-2",
                            //click:DeletePost,
                        }
                    ], width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" }
                },
                {
                    field: "Title", title: "Tiêu đề", width: 200,
                    headerAttributes: { "class": "white-text primary-color-dark p-3" },
                },
                { field: "Slug", title: "Slug", width: 200, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "CateName", title: "Danh mục", width: 150, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Likes", title: "Thích", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Views", title: "Lượt xem", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Shares", title: "Chia sẻ", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Comments", title: "Comment", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Rates", title: "Đánh giá", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Tag", title: "Tags", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "CreateDate", title: "Ngày tạo", width: 160, headerAttributes: { "class": "white-text primary-color-dark p-3" }, format:"{0:dd/mm/yyyy hh:mm:ss tt}",type:"date" },
               
                
            ],
            remove: function (e) {
                //console.log("remove");
                //console.log(e);
                //if (!confirm("Xác nhận xóa !")) {
                //    e.preventdefault();
                //    return false;
                //}
                var c = 1;
                $.ajax({
                    async: false,
                    url: '/Admin/DeletePost?ID=' + e.model.ID,
                    type: 'post',
                    success: function (data) {
                        if (data.result == 1) {
                            toastr.success(data.msg, "Thông báo", {
                                "positionClass": "toast-top-right",
                            });
                            $('#gridPosts').data('kendoGrid').dataSource.read();
                            $('#gridPosts').data('kendoGrid').refresh();
                            //  alert('Xóa thành công!');
                        } else {
                            toastr.error(data.msg, "Thông báo", {
                                "positionClass": "toast-top-right",
                            });
                            // alert('');
                            c = 0;

                        }
                    },
                    error: function () {
                        toastr.error("Lỗi", "Thông báo", {
                            "positionClass": "toast-top-right",
                        });
                        c = 0;

                        //alert("Error Delete Categories!");
                    }
                });
                if (c == 0) {
                    //e.preventdefault();
                    return;
                }
            }
        });
        function DeletePost(e) {
            
        }
    </script>
                
}
<div class="card card-cascade ">
    <h3 class="card-header blue-text py-1 border-primary"><i class="fa fa-th"></i> Danh sách bài viết</h3>

    <!--Card content-->
    <div class="card-body text-left">
        
        <div id="gridPosts">

        </div>
        

    </div>
    <!--/.Card content-->

</div>


