
@{
    ViewBag.Title = "Danh sách bài Viết";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@section css{
    <style>
        .k-grid td {
            border-width: 0 0px 2px 1px;
        }

        .k-multiselect-wrap li.k-button span:first-child {
            padding-right: 2em;
        }
        .k-picker-wrap .k-select{
            padding:0.1rem!important;
        }
    </style>
}
@section js{
    <script>
        $('#gridPosts').kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "/Admin/GetPosts?IDCate=&?fDate=&tDate=",
                },
                schema: {
                    model: {
                        id: "ID",
                        fields: {
                            Title: { editable: false }, Slug: { editable: false }, CateName: { editable: false },
                            Likes: { editable: false }, Views: { editable: false }, Shares: { editable: false },
                            Comment: { editable: false }, Rates: { editable: false }, Tag: { editable: false },

                            CreateDate: { editable: false, type: "date", },
                            //Update: { editable: false, type: "date", },
                        }
                    }
                },
                pageSize: 100,
            },
            height: 1000,
            scrollable: true,
            groupable: false,
            sortable: true,
            selectable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: [50, 100, 200],
                buttonCount: 5,
            },
            editable: {
                mode: "inline",
                confirmation: true,
            },
            //autoBind: true,
            dataBound: function (e) {
                console.log("dataBound");
                $(".btn").removeClass('k-button');
            },
            columns: [
                {
                    title: "Thao tác",
                    command: [
                        //{ name: "edit", text: " ", className: "btn-outline-blue btn-rounded m-2", },
                        //{ name: "destroy", text: " ", className: "btn-outline-danger btn-rounded m-2", },
                        {
                            name: "destroy",
                            text: "Xóa",
                            iconClass: "fa fa-trash mr-1",
                            className: "btn btn-danger btn-rounded btn-md p-2",
                            //click:DeletePost,
                        }
                    ], width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" }
                },
                {
                    field: "Title", title: "Tiêu đề", width: 200,
                    headerAttributes: { "class": "white-text primary-color-dark p-3" },
                },
                { field: "Slug", title: "Slug", width: 200, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "CateName", title: "Danh mục", width: 150, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Likes", title: "Thích", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Views", title: "Lượt xem", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Shares", title: "Chia sẻ", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Comments", title: "Comment", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Rates", title: "Đánh giá", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "Tag", title: "Tags", width: 100, headerAttributes: { "class": "white-text primary-color-dark p-3" } },
                { field: "CreateDate", title: "Ngày tạo", width: 160, headerAttributes: { "class": "white-text primary-color-dark p-3" }, format: "{0:dd/mm/yyyy hh:mm:ss tt}", type: "date" },


            ],
            remove: function (e) {
                //console.log("remove");
                //console.log(e);
                //if (!confirm("Xác nhận xóa !")) {
                //    e.preventdefault();
                //    return false;
                //}
                var c = 1;
                $.ajax({
                    async: false,
                    url: '/Admin/DeletePost?ID=' + e.model.ID,
                    type: 'post',
                    success: function (data) {
                        if (data.result == 1) {
                            toastr.success(data.msg, "Thông báo", {
                                "positionClass": "toast-top-right",
                            });
                            $('#gridPosts').data('kendoGrid').dataSource.read();
                            $('#gridPosts').data('kendoGrid').refresh();
                            //  alert('Xóa thành công!');
                        } else {
                            toastr.error(data.msg, "Thông báo", {
                                "positionClass": "toast-top-right",
                            });
                            // alert('');
                            c = 0;

                        }
                    },
                    error: function () {
                        toastr.error("Lỗi", "Thông báo", {
                            "positionClass": "toast-top-right",
                        });
                        c = 0;

                        //alert("Error Delete Categories!");
                    }
                });
                if (c == 0) {
                    //e.preventdefault();
                    return;
                }
            }
        });
        $('#fCategory').kendoMultiSelect({
            placeholder: "Chọn danh mục...",
            dataTextField: "Name",
            dataValueField: "ID",
            autoBind: false,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "/Admin/GetCategories?kind=3",
                    }
                }
            },
        });
        $("#fDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
           dateInput: true
        });
        $("#tDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
            dateInput: true
        });
    </script>

}
<div class="card  ">
    <h3 class="card-header blue-text py-1 border-primary"><i class="fa fa-th"></i> Danh sách bài viết</h3>

    <div class="card-body pb-0">
        <div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card" id="Step1">

                <!-- Card header -->
                <div class="card-header grey lighten-3" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h5 class="mb-0">
                            <i class="fa fa-filter"></i>
                            Lọc tìm kiếm  <i class="fa fa-angle-down rotate-icon"></i>
                        </h5>
                    </a>
                </div>

                <!-- Card body -->
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="blue-text font-weight-bold"><i class="fa fa-th"></i> Danh mục</label>
                                    <input type="text" id="fCategory" class="form-control" placeholder="Danh mục">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="blue-text font-weight-bold"><i class="fa fa-calendar-minus-o"></i> Từ ngày</label>
                                    <input type="text" id="fDate" class="form-control" placeholder="Từ ngày">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="blue-text font-weight-bold"><i class="fa fa-calendar-plus-o"></i> Đến ngày</label>
                                    <input type="text" id="tDate" class="form-control" placeholder="Đến ngày">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- Accordion card -->

        </div>
        <div id="gridPosts">

        </div>
    </div>




</div>


